/MANIFEST
/build
/dist
/spead2.egg-info
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.guess
/config.log
/config.status
/config.sub
/configure
/spead2.pc
/spead2/recv/asyncio.py
/spead2/send/asyncio.py
/spead2/test/test_send_asyncio.py
/wheelhouse
.deps
*.pyc
*.o
