/MANIFEST
/build
/dist
/spead2.egg-info
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.guess
/config.log
/config.status
/config.sub
/configure
/spead2.pc
*asyncio.py
/wheelhouse
.deps
*.pyc
*.o
/include/spead2/common_features.h
/examples/test_recv
/examples/test_ringbuffer
/examples/test_send
