/MANIFEST
/build
/dist
/spead2.egg-info
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/test-driver
.deps
*.pyc
*.o
