global-include Makefile.in
global-include aclocal.m4
exclude include/spead2/common_features.h
exclude python-build.cfg
exclude .gitignore
include configure
include include/spead2/common_loader_ibv.h
include include/spead2/common_loader_mlx5dv.h
include include/spead2/common_loader_rdmacm.h
graft build-aux
prune doc/_build
prune doc/doxygen
