name: Unit tests
on: [push, pull_request]
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test-cxx:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            cxx: g++-9
          - os: ubuntu-24.04
            cxx: g++-14
          - os: ubuntu-22.04
            cxx: clang++-11
          - os: ubuntu-24.04
            cxx: clang++-18
          - os: macos-14
            cxx: clang++
    runs-on: ${{ matrix.os }}
    env:
      SCCACHE_GHA_ENABLED: "true"
      CXX: sccache ${{ matrix.cxx }}
      # Don't error on deprecations: Xcode marks sprintf deprecated and Boost references it
      CXXFLAGS: -Wno-error=deprecated-declarations
    steps:
      - uses: actions/checkout@v6
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install system packages
        run: ./.ci/install-sys-pkgs.sh
      - uses: actions/setup-python@v6
        with:
          # 3.10 is the minimum version supported on macos-14 builders
          python-version: '3.10'
          cache: 'pip'
      - name: Install build requirements
        run: ./.ci/py-build-requirements.sh
      - name: Set up build directory
        run: meson setup build $(.ci/setup-flags.sh)
      - name: Build
        run: meson compile -C build
      - name: Run tests
        run: meson test -C build

  test-python:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            cc: gcc-9
            cxx: g++-9
            python-version: '3.9'
          # Disabled for now because numba/llvmlite (needed for tests)
          # doesn't have a pypy wheel, and it's not worth the effect to
          # install all the dependencies needed to make that work.
          # - os: ubuntu-22.04
          #   cxx: g++
          #   python-version: pypy-3.7
          - os: ubuntu-24.04
            cc: gcc-14
            cxx: g++-14
            python-version: '3.14'
          - os: ubuntu-22.04
            cc: clang-11
            cxx: clang++-11
            python-version: '3.14'
          - os: ubuntu-24.04
            cc: clang-18
            cxx: clang++-18
            python-version: '3.14'
          - os: macos-14
            cc: clang
            cxx: clang++
            python-version: '3.14'
    runs-on: ${{ matrix.os }}
    env:
      SCCACHE_GHA_ENABLED: "true"
      CXX: sccache ${{ matrix.cxx }}
      # Don't error on deprecations: Xcode marks sprintf deprecated and Boost references it
      CXXFLAGS: -Wno-error=deprecated-declarations
    steps:
      - uses: actions/checkout@v6
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install system packages
        run: ./.ci/install-sys-pkgs.sh
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install Python dependencies
        run: ./.ci/py-requirements.sh
        env:
          CC: ${{ matrix.cc }}  # Do not pass -Werror when building dependencies
      - name: Install Python package
        run: pip install -v $(.ci/setup-flags.sh --python) .
      - name: Run tests
        run: pytest -v -ra  # -ra summarises the reasons for skipping or failing tests
      - name: Run shutdown tests
        run: ./.ci/py-tests-shutdown.sh

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'
          cache: 'pip'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
      - run: pip install pre-commit
      - run: pre-commit run --all-files

  coverage:
    runs-on: ubuntu-22.04
    env:
      SCCACHE_GHA_ENABLED: "true"
    steps:
      - uses: actions/checkout@v6
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install system packages
        run: ./.ci/install-sys-pkgs.sh
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
      - name: Install Python dependencies
        run: ./.ci/py-requirements.sh
      - name: Install build requirements
        run: ./.ci/py-build-requirements.sh
      - name: Install Python package
        # Build isolation tends to delete the .gcno files which end up in
        # the ephemeral build directory. So do a non-isolated editable
        # install instead.
        run: >-
          pip install -v $(.ci/setup-flags.sh --python)
          --config-settings=setup-args=-Dbuildtype=debug
          --config-settings=setup-args=-Db_coverage=true
          --no-build-isolation
          --editable .
      - name: Run Python tests
        run: pytest -v -ra && ./.ci/py-tests-shutdown.sh
      - name: Set up C++ build
        run: >-
          meson setup build $(.ci/setup-flags.sh)
          -Dbuildtype=debug
          -Db_coverage=true
      - name: Build C++
        run: meson compile -C build
      - name: Run C++ tests
        run: meson test -C build
      - name: Collect coverage
        run: ./.ci/coverage.sh
      - uses: coverallsapp/github-action@v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info

  all-builds:
    runs-on: ubuntu-24.04
    env:
      SCCACHE_GHA_ENABLED: "true"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
      - uses: actions/checkout@v6
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install system packages
        run: ./.ci/install-sys-pkgs.sh
      - name: Install build requirements
        run: ./.ci/py-build-requirements.sh
      - name: Build all the combinations
        run: ./.ci/all-builds.sh

  sdist:
    needs: [test-cxx, test-python, coverage, lint]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
      - name: Install system packages
        run: ./.ci/install-sys-pkgs.sh
      - name: Install Python dependencies
        run: ./.ci/py-requirements.sh
      - run: pip install build==1.2.2.post1
      - run: python -m build --sdist .
      - uses: actions/upload-artifact@v6
        with:
          name: sdist
          path: ./dist/*.tar.gz

  cibuildwheel-linux:
    needs: [test-cxx, test-python, coverage, lint]
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, aarch64]
        python: [cp39, cp310, cp311, cp312, cp313, cp314]
        # Set os based on arch
        include:
          - arch: x86_64
            os: ubuntu-24.04
          - arch: aarch64
            os: ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    env:
      SCCACHE_GHA_ENABLED: "true"
    steps:
      - uses: actions/checkout@v6
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_BUILD: ${{ matrix.python }}-manylinux*
      - uses: actions/upload-artifact@v6
        with:
          name: wheel_linux-${{ matrix.arch }}-${{ matrix.python }}
          path: ./wheelhouse/*.whl
      - uses: actions/upload-artifact@v6
        with:
          name: debug_symbols_uncompressed-${{ matrix.arch }}-${{ matrix.python }}
          path: ./wheelhouse/*.debug

  cibuildwheel-macos:
    needs: [test-cxx, test-python, coverage, lint]
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14]
        python: [cp39, cp310, cp311, cp312, cp313, cp314]
    runs-on: ${{ matrix.os }}
    env:
      SCCACHE_GHA_ENABLED: "true"
    steps:
      - uses: actions/checkout@v6
      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: ${{ matrix.python }}-macos*
      - uses: actions/upload-artifact@v6
        with:
          name: wheel_macos-${{ matrix.os }}-${{ matrix.python }}
          path: ./wheelhouse/*.whl

  combine:
    needs: [cibuildwheel-linux, cibuildwheel-macos, sdist]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Create paths
        run: mkdir -p debug-symbols dist wheelhouse
      - uses: actions/download-artifact@v7
        with:
          pattern: debug_symbols_uncompressed-*
          path: .
          merge-multiple: true
      - uses: actions/download-artifact@v7
        with:
          pattern: wheel_*
          path: wheelhouse/
          merge-multiple: true
      - uses: actions/download-artifact@v7
        with:
          name: sdist
          path: dist/
          merge-multiple: true
      - name: Compress debug symbols
        run: >-
          tar -Jcvf debug-symbols/"spead2-"$(<VERSION.txt)-debug.tar.xz _spead2*.debug
      - uses: actions/upload-artifact@v6
        with:
          name: combined
          path: |
            debug-symbols/
            dist/
            wheelhouse/
